.cards {
  color: #000;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  justify-items: center;
  margin: 0 auto;
  row-gap: 21px;
  column-gap: 17px;
  width: 880px;
}
.card {
  width: 282px;
  height: 361px;
  background: #fff;
  border-radius: 20px;
  grid-row-gap: 30px;
}
.card__image {
    width: 282px;
    height: 282px;
    border-radius: 10px 10px 0px 0px;
}

.card__titles {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 246px;
  height: 23px;
  margin: 25px auto;
}
.card__title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.card__like {
  width: 21px;
  height: 19px;
}

@media (max-width: 768px) {
  .cards {
    grid-template-columns: 1fr;
    row-gap: 20px;
    width: 282px;
    margin: 0 auto;
  }
  .card {
    width: 282px;
    height: 361px;
    margin: 0 35px 0 0;
    border-radius: 10px;
  }
}