.popup {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  opacity: 0;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  visibility: hidden;
}
.popop__opened{
  opacity: 1;
  visibility: visible;
}
.form {
  background: #fff;
  color: #000;
  width: 430px;
  height: 330px;

  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0px 0px 25px 0px;
}
.form__title {
  width: 330px;
  height: 23px;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 29px;
  padding-top: 34px;
  padding-left: 36px;
  padding-right: 64px;
}
.input__name {
  width: 358px;
  height: 14px;
  margin: 0 36px 0 36px;
  border: none;
}
.line__one {
  border-bottom: 358px;
  height: 1px;
  background: #000;
  opacity: 0.2;
  margin-left: 36px;
  margin-right: 36px;
}
.input__job {
  width: 358px;
  height: 14px;
  margin: 43px 36px 0 36px;
  border: none;
}
.line__two {
  border-bottom: 358px;
  height: 1px;
  background: #000;
  opacity: 0.2;
  margin: 0 36px 0 36px;
}
.button__form_edt {
  width: 358px;
  height: 50.152px;
  border-radius: 2px;
  background: #000;
  margin: 48px 36px 36px 36px;
}
.form__close {
  width: 39px;
  height: 39px;
  position: absolute;
  top: 150px;
  right: 510px;
}

@media (max-width: 768px) {
  .form {
  width: 282px;
  height: 322px;
  }
  .form__title {
    width: 238px;
    font-size: 18px;
  }
  .input__name {
    width: 238px;
    font-size: 14px;
  }
  .input__job {
    width: 238px;
    font-size: 14px;
  }
  .button__form_edt {
    width: 238px;
    height: 46px;
    margin: 46px 22px 25px 22px;
  }
  .form__close {
    width: 26px;
    height: 26px;
    position: absolute;
    top: 170px;
    right: 130px;
  }
} 

